@if (variant() === 'stroked') {
  <button
    mat-stroked-button
    color="primary"
    [type]="type()"
    [disabled]="disabled()"
    class="app-button" [class.app-button--full]="fullWidth()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-content />
  </button>
} @else if (variant() === 'basic') {
  <button
    mat-button
    color="primary"
    [type]="type()"
    [disabled]="disabled()"
    class="app-button" [class.app-button--full]="fullWidth()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-content />
  </button>
} @else {
  <button
    mat-flat-button
    color="primary"
    [type]="type()"
    [disabled]="disabled()"
    class="app-button" [class.app-button--full]="fullWidth()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-content />
  </button>
}
